<div class="col mt-2">
    <h3>Materia</h3>
    <select class="custom-select mt-2" ng-name="{{ info.nameLev }}">
        <option value="Kin" selected>Kinder</option>
        <option value="Prim">Primaria</option>
        <option value="Sec">Secundaria</option>
        <option value="Pre">Preparatoria</option>
    </select>
    <br />
    <select class="custom-select mt-2" ng-name="{{ info.nameGrad }}">
        <option value="1" selected>Primero</option>
        <option value="2">Segundo</option>
        <option value="3">Tercero</option>
        <option value="4">Cuarto</option>
        <option value="5">Quinto</option>
        <option value="6">Sexto</option>
    </select>
    <br />
    <select class="custom-select mt-2" ng-name="{{ info.nameMat }}">
        <option value="Esp" selected>Español</option>
        <option value="CieN">Ciencias Naturales</option>
        <option value="Con">Constitucion</option>
        <option value="DesM">Desafios Matematicos</option>
        <option value="EduA">Eduacion Artistica</option>
        <option value="EduF">Eduacion Fisica</option>
        <option value="EspL">Español Lecturas</option>
        <option value="FCE">Formacion Civica Y Etica</option>
        <option value="Geo">Geografia</option>
        <option value="His">Historia</option>
        <option value="Mat">Matematicas</option>
        <option value="Lib">LIbre</option>
    </select>
    <br />
    <select ng-name="{{ info.nameBloq }}" class="custom-select mt-2">
        <option value="B1">Bloque1</option>
        <option value="B2">Bloque2</option>
        <option value="B3">Bloque3</option>
        <option value="B4">Bloque4</option>
        <option value="B5">Bloque5</option>
    </select>
</div>