<div class="col mt-2">
    <h3>Actividad</h3>
    <label class="wrapper">Lectura y Comprension
        <input type="radio" checked="checked" name="radio" value="Lec"> <span class="checkmark"></span> 
    </label>
    <label class="wrapper">Examenes por Temas
        <input type="radio" name="radio" value="ExaT"> <span class="checkmark"></span> 
    </label>
    <label class="wrapper">Examenes Anuales
        <input type="radio" name="radio" value="ExaA"> <span class="checkmark"></span> 
    </label>
    <label class="wrapper">Ayuda para tu Tarea
        <input type="radio" name="radio" value="Ayu"> <span class="checkmark"></span> 
    </label>
</div>