<button type="button" class="btn btn-danger delete-img"><i class="fas fa-trash-alt"></i><i class="fas fa-images"></i></button>
<button type="button" class="btn btn-danger delete-num"><i class="fas fa-trash-alt"></i><i class="fas fa-sort-numeric-up"></i></button>
<br/>
<button type="button" class="btn btn-primary add-img"><i class="fas fa-plus-circle"></i><i class="fas fa-images"></i></button>
<button type="button" class="btn btn-primary add-num"><i class="fas fa-plus-circle"></i><i class="fas fa-sort-numeric-up"></i></button>